# Team 46
# Haoyue Xie 1003068 @Melbourne
# Jiayu Li 713551 @Melbourne
# Ruqi Li 1008342 @Melbourne
# Yi Zhang 1032768 @Melbourne
# Zimeng Jia 978322 @Hebei, China

version: '3.7'

services:

    nodejs:
        build: ./nodejs/web
        volumes:
            - ./nodejs/web:/usr/src/server
        ports:
            - "3000:3000"
        restart: always
        container_name: nodejs



