version: '3.7'

services:


  couch_slave2:
    image: "couchdb"
    restart: always
    ports:
      - "5984:5984"
    volumes:
      - ./data/slave2/data:/opt/couchdb/data
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=90024
      - NODENAME=172.26.130.67
      - ERL_FLAGS="-setcookie \"comp90024auzlife\" -name \"couchdb@172.26.130.67\""
    container_name: couch_slave2






