version: '3.7'

services:


  couch_slave1:
    image: "couchdb:2.3.1"
    restart: always
    ports:
      - "5984:5984"
      - "4369:4369"
      - "9100:9100"
    volumes:
      - ./data/slave1/data:/opt/couchdb/data
    container_name: couch_slave1






