# Team 46
# Haoyue Xie 1003068 @Melbourne
# Jiayu Li 713551 @Melbourne
# Ruqi Li 1008342 @Melbourne
# Yi Zhang 1032768 @Melbourne
# Zimeng Jia 978322 @Hebei, China

version: '3.7'

services:


  couch_slave1:
    image: "couchdb:2.3.1"
    restart: always
    ports:
      - "5984:5984"
      - "4369:4369"
      - "9100:9100"
    volumes:
      - ./data/slave1/data:/opt/couchdb/data
    container_name: couch_slave1






