[Service]
Environment="no_proxy=localhost,127.0.0.1,localaddress,127.16.0.0/12,melbourne.rc.nectar.org.au,.storage.unimelb.edu.au,.cloud.unimelb.edu.au”
Environment="HTTP_PROXY=http://wwwproxy.unimelb.edu.au:8000/"
Environment="HTTPS_PROXY=http://wwwproxy.unimelb.edu.au:8000/"